includes:
    - %rootDir%/../../nunomaduro/larastan/extension.neon

parameters:
    customRulesetUsed: true
    noUnnecessaryCollectionCall: true
    checkModelProperties: false
    reportMagicMethods: false
    checkFunctionNameCase: false
    checkPhpDocMethodSignatures: false
    checkExplicitMixedMissingReturn: false
    checkPhpDocMissingReturn: false
    checkMaybeUndefinedVariables: true
    cliArgumentsVariablesRegistered: true
    checkNullables: false
    checkThisOnly: false
    checkUnionTypes: true
    checkExplicitMixed: false
    stubFiles:
        - stubs/Request.stub

rules:
	- Enlightn\EnlightnPro\PHPStan\ColumnNameSQLInjectionBuilderRule
	- Enlightn\EnlightnPro\PHPStan\ColumnNameSQLInjectionModelRule
	- Enlightn\EnlightnPro\PHPStan\CommandInjectionFunctionRule
	- Enlightn\EnlightnPro\PHPStan\CommandConstructorInjectionRule
	- Enlightn\EnlightnPro\PHPStan\DirectoryTraversalFunctionRule
	- Enlightn\EnlightnPro\PHPStan\DirectoryTraversalInstanceRule
	- Enlightn\EnlightnPro\PHPStan\DirectoryTraversalStorageFacadeRule
	- Enlightn\EnlightnPro\PHPStan\ExtractRule
	- Enlightn\EnlightnPro\PHPStan\FileBombValidationRule
	- Enlightn\EnlightnPro\PHPStan\FileSizeValidationRule
	- Enlightn\EnlightnPro\PHPStan\FileTypeValidationRule
	- Enlightn\EnlightnPro\PHPStan\HardCodedCredentialHashFacadeRule
	- Enlightn\EnlightnPro\PHPStan\HardCodedCredentialFunctionRule
	- Enlightn\EnlightnPro\PHPStan\ObjectInjectionUnserializeRule
	- Enlightn\EnlightnPro\PHPStan\OpenRedirectionFacadeRule
	- Enlightn\EnlightnPro\PHPStan\OpenRedirectionFunctionRule
	- Enlightn\EnlightnPro\PHPStan\OpenRedirectionRedirectorRule
	- Enlightn\EnlightnPro\PHPStan\RawSQLInjectionBuilderRule
	- Enlightn\EnlightnPro\PHPStan\RawSQLInjectionDBFacadeRule
	- Enlightn\EnlightnPro\PHPStan\RawSQLInjectionModelRule
	- Enlightn\EnlightnPro\PHPStan\RegexDosFunctionRule
	- Enlightn\EnlightnPro\PHPStan\UnrestrictedFileUploadStorageFacadeRule
	- Enlightn\EnlightnPro\PHPStan\UnrestrictedFileUploadRule
	- Enlightn\EnlightnPro\PHPStan\ValidationSQLInjectionRule
	- Enlightn\Enlightn\PHPStan\FillableForeignKeyModelRule
	- Enlightn\Enlightn\PHPStan\MassAssignmentModelInstanceRule
	- Enlightn\Enlightn\PHPStan\MassAssignmentModelStaticRule
	- Enlightn\Enlightn\PHPStan\MassAssignmentBuilderInstanceRule
	- PHPStan\Rules\Arrays\DeadForeachRule
	- PHPStan\Rules\Arrays\IterableInForeachRule
	- PHPStan\Rules\Arrays\OffsetAccessAssignmentRule
	- PHPStan\Rules\Arrays\OffsetAccessAssignOpRule
	- PHPStan\Rules\Arrays\OffsetAccessValueAssignmentRule
	- PHPStan\Rules\Classes\ClassConstantRule
	- PHPStan\Rules\DeadCode\NoopRule
	- PHPStan\Rules\DeadCode\UnreachableStatementRule
	- PHPStan\Rules\DeadCode\UnusedPrivateConstantRule
	- PHPStan\Rules\DeadCode\UnusedPrivateMethodRule
	- PHPStan\Rules\Functions\CallToFunctionParametersRule
	- PHPStan\Rules\Functions\PrintfParametersRule
	- PHPStan\Rules\Methods\ReturnTypeRule
	- PHPStan\Rules\Variables\UnsetRule

services:
    -
        class: PHPStan\Rules\Methods\CallMethodsRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
            reportMagicMethods: %reportMagicMethods%
    -
        class: PHPStan\Rules\Functions\CallToNonExistentFunctionRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
    -
        class: PHPStan\Rules\Methods\CallStaticMethodsRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
            reportMagicMethods: %reportMagicMethods%
    -
        class: PHPStan\Rules\Methods\OverridingMethodRule
        arguments:
            checkPhpDocMethodSignatures: %checkPhpDocMethodSignatures%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Missing\MissingReturnRule
        arguments:
            checkExplicitMixedMissingReturn: %checkExplicitMixedMissingReturn%
            checkPhpDocMissingReturn: %checkPhpDocMissingReturn%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Namespaces\ExistingNamesInUseRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
    -
        class: PHPStan\Rules\Namespaces\ExistingNamesInGroupUseRule
        tags:
            - phpstan.rules.rule
        arguments:
            checkFunctionNameCase: %checkFunctionNameCase%
    -
        class: PHPStan\Rules\Properties\AccessPropertiesRule
        tags:
            - phpstan.rules.rule
        arguments:
            reportMagicProperties: %reportMagicProperties%
    -
        class: PHPStan\Rules\Variables\DefinedVariableRule
        arguments:
            cliArgumentsVariablesRegistered: %cliArgumentsVariablesRegistered%
            checkMaybeUndefinedVariables: %checkMaybeUndefinedVariables%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Functions\ReturnTypeRule
        arguments:
            functionReflector: @betterReflectionFunctionReflector
        tags:
            - phpstan.rules.rule
    -
        class: Enlightn\Enlightn\PHPStan\RequestDataTypeNodeResolverExtension
        tags:
            - phpstan.phpDoc.typeNodeResolverExtension
    -
        class: Enlightn\Enlightn\PHPStan\RequestArrayDataTypeNodeResolverExtension
        tags:
            - phpstan.phpDoc.typeNodeResolverExtension
